ul {
    margin: 0 !important;
}

ul li {
    list-style-type: none;
    ;
    margin: 0 !important;
}

a {
    text-decoration: none;
    color: black;
}

.form-control {
    position: relative;

}

.Search_Icon {
    position: absolute;
    bottom: 1%;
    right: 5%;
}

.menu-bar li {
    position: relative;
    font-size: 17px;

}

.menu-bar li a {
    color: rgb(123, 117, 117) !important;
}


.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 50vh;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    transform: translateX(-30%);
}

.submenu li {
    width: 200px;
}

.submenu li a {
    display: block;
    padding: 8px 12px;
    color: black !important;
    font-weight: 500;
    text-align: left;
}

.submenu li a:hover {
    color: #000;
    background-color: #f2f2f2;
}

.menu-bar li:hover .submenu {
    display: block;
}