.view-product {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {

  transition: transform 0.3s ease;
}


.product-image {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
  background-color: #f8f9fa;
  padding: 20px;
}

.details p {
  font-size:16px ;
  line-height: 1.6;
}

button {
  font-weight: 500;
  border-radius: 10px !important;
  transition: all 0.3s ease;
}

