.main {
    background-color: #8f72b2ff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mystyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    background: linear-gradient(150deg, #6b83ebff, #8f72b2ff, #662aa1ff);
    color: white;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20%;
    border: none

}

.btnStyle {
    margin: 10px;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    font-weight: bold;
}
